<div class="container">
  <div class="flex user_item">
    <div class="item_photo">
      <img src="<%= @user.photo %>" alt="Photo">
    </div>
    <div class="flex item_info">
      <p><%= @user.name %></p>
      <p><%= @user.posts_counter %></p>
    </div>
  </div>
  <div class="user_bio">
    <p><%= @user.bio %></p>
  </div>
  <div>
    <% recent_posts = @user.recent_posts %>
    <ul class="user_posts">
      <% if recent_posts.any? %>
        <% recent_posts.each do |post| %>
          <li>
            <p>Post #<%= post.id %></p>
            <p><%= post.title %></p>
            <p><%= post.text %></p>
            <div class="flex justify-end">
              <p><%= post.comments.count %> comments</p>
              <p><%= post.likes.count %> Likes</p>
            </div>
          </li>
        <% end %>
      <% else %>
        <p>No recent posts</p>
      <% end %>
    </ul>
  </div>
  <div class="flex buttons">
    <button class="button_edit"><%= link_to "See all users", users_path(@user), class: "button_p" %></button>
    <button class="button_edit"><%= link_to "See all posts", user_posts_path(@user), class: "button_p" %></button>
  </div>
</div>
